.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

mat-toolbar{
background-color: black;
}

span{
  
    font-family: Ubuntu; /*titulo*/
    color: white;
    
  
}
mat-label{

  color: black;
  font-weight: 500;
  font-family: Poppins; /*cuerpo*/
}

 mat-raised-button {
  background-color: yellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

th{
  color:  #1A2930;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

td{
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 0.8rem;
}
